html {

}

.shade1 { color: #e92429 ; }
.shade2  { color: #c42026 ; }
.shade3 { color: #980f13 ; }
.intense-red { color: #e92429 ; }

.blue1 { color: #4194d3; }

.primary-black { color: #0a0202; }
.grey-333 { color: #333 ; }
.grey-27 { color: #262626 ; }

.btn, a {
	color: #a1a1a1;
	font-size: 1.2em;
	text-decoration: none;
}

.btn:hover, a:hover {
	color: #fff;
	text-decoration: none;
}

.navbar {
	border-radius: 0;
	border: 0 solid #e92429;
	border-width: 6px 0 0 0;
	background-color: #101010;
	margin: 0;
}
.navbar-nav>.active a {
	background-color: transparent !important;
	color: #c42026 !important;
}
.navbar-nav>.active:after {
	z-index: 9998;
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-top-color: #101010;
	border-width: 15px;
	margin-left: -15px;
}
.navbar-nav>.active a {
	font-weight: 700 !important;
}
.navbar-nav a {
	text-transform: capitalize;
  	position: relative;
}
.navbar-nav li a:hover {
	color: #e92429 !important;
}
.navbar-form {
	margin: 0;
}
nav {
	box-shadow: 0px 0px 0px #000;
}
body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.big {
	font-size: 60px !important;
	font-weight: 100;

}
.jumbotron {
	text-transform: uppercase;
	text-align: right;
	color: #fefefe;
	background-color: #333;
	background-size: cover !important;
	position: absolute;
	bottom:0;
	left:0;
	right: 0;
	top:56px;
	margin: 0;
	text-shadow: 1px 1px 4px #000;
}
.whole {
	position: absolute;
	bottom:0;
	left:0;
	right: 0;
	top:0;
}
.btn-home {
	border-color: transparent !important;
	background-color: #c42026;
	color: #fff !important;
}
.btn-home:hover {
	color: #fff !important;
	background-color: #980f13;
}
.team-box {
	text-align: center;
}
.team-avatar {
	margin: auto;
}
.team {
}
.admin, .team, .parts {
	margin-top: 80px;
}
.admin-login-box {
	background-color: #101010;
	padding: 15px;
	border: solid #e92429;
	border-width: 5px 0 0 0;
	text-align: left;
	color:#fff;
}
.btn-login {
	margin-top: 10px;
	padding: 0;
}
.logout {
	background-color: #222;
	border-radius: 6px;
	padding: 5px !important;
	margin: 7px 0 0px 0;
}

.img-wrap {
	margin: auto !important;
	padding: 0 !important;
}

.uri, .uri-img {
	color:#fff;
	overflow: visible;
	position: absolute;
	bottom: 0;
	width: 100%;
	border-radius: 0;
}
textarea.uri { color: black; }
.parts  label {
	width: 100%;
}
.parts h4 {
	font-weight: bold;
}
.parts .price {
	position: absolute;
	font-size: 24px;
	font-weight: bold;
	padding: 5px;
	color: #fff;
	top: 0px;
	left: 225px;
}
.price {
	text-align: right !important;
}
span.link {
	display: block;
	margin-top: -28px;
	font-weight: bold;
	padding: 5px;
}
.col-part {
	max-width: 240px !important;
}
.part-box {
	background-color: #101010;
	color: #fff !important;
	margin: 15px 0 0 0;
}
.img-part {
	margin: 0px;
}
.admin {
}
.admin-login-box {
	margin: auto;
	width: 400px;
	padding-bottom: 50px;
}
.admin-login-box h2 {
	margin: 0;
	margin-bottom: 20px;
}
.admin-form {
	border-radius: 0;
	border-color: #101010;
	outline-color: #e92429 !important;
	background-color: #333;
	color: #fff;
	margin-bottom: 5px;
}
.panel-right, .panel-left, .admin-panel {
	position: absolute;
	bottom: 0;
	top: 56px;
}
.admin-panel {
	width: 100%;
	background-color: #f0f0f0;
}
.panel-left {
	background-color: #101010;
	border: 1px solid #333;
	border: 1px 0 0 0;
	padding-right: 60px;
	width: 20%;
	left: 0;
	top: 0;
}
.panel-right {
	width: 80%;
	left: 20%;
	top: 0;
	right 0;
	bottom 0;
}

.btn-admin {
	width: 100%;
	text-align: left;
	border-width: 0;
	border-radius: 0;
	font-weight: bold;
}
.btn-admin:hover {
	color: #fff !important;
	background-color: #222 !important;
}
.nest1, .nest2, .nest3, .nest4 {
	border: 4px solid #222;
	border-width: 0 0 0 5px;
}
.nest1:hover, .nest2:hover, .nest3:hover, .nest4:hover {
	border-color: #fff;
}

.btn-active {
	font-style: bold;
	color: #fff !important;
	border-color: #e92429;
	background-color: #222 !important;
}

.nest1 { margin-left: 15px; width: calc( 100% + 45px) !important; }
.nest2 { margin-left: 30px; width: calc( 100% + 30px) !important; }
.nest3 { margin-left: 45px; width: calc( 100% + 15px) !important; }
.nest4 { margin-left: 60px; width: calc( 100% + 0px) !important; }

.layer { }
.expose { 
	content: " ";
}

.toolbar {
	width:  100% ;
	min-height: 40px;
	background-color: #fff;
	color: #333;
}
.toolbar:last-child {
	
}
.tool-group {
	list-style: none;
	padding: 1px;
}
.tool-group > li {
	display: block;
	position: relative;
}
.tool-group > li > button {
	text-decoration: none;
}

.form-obj {
	width: 80%;
	margin: auto;
	border: 1px dotted red;
	padding: 5px;
}
.dropper {
	display: block;
	width: 100%;
	height: 120px;
	border: 1px dotted #000;
	margin: 15px 0 15px 0 !important;
	background-color: rgba(0,0,0,0.3);
	text-align: center;
	line-height: 110px;
	font-weight: bold;
	cursor: pointer;
	overflow: hidden;
	vertical-align: center;
}

.json-fail {
	background-color: #ffe1e1 !important;
}

.json-box {
	position: absolute;
	top:40px;
	bottom: 0;
	width: 100%;
	background-color: #e1ffff;
	font-size: 1.7em;
}
.part-box a {
	cursor: pointer;
}
.tab-box {
	position: relative;
	float: left;
	margin: 0;
	margin-right: -28px;	
}
.tab-over {
	z-index: 99 !important;
	width: 200px;
	position: absolute !important;
	top: 0;
	left: 0 !important;
}
a.delete{
	color: #fff !important;
	font-size: 1.0em;
	cursor: pointer;
}
.hook, .tab  {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    padding: 3px 8px 0 6px;
	background-color: #e92429 !important;
	color: #fff;
	font-size: 1.0em;
	text-align: center;
	cursor: pointer;
	border-bottom-right-radius: 3px;
}
.shoot {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;

	border: 6px solid transparent;
	border-top-color: #e92429;
	border-bottom-width: 0px;
	background-color: transparent !important;
	cursor: pointer;
}

generate {
	max-width: 500px;
	position: absolute;
	display: block;
	margin: auto;
	margin-left: 0;
	width: 80%;
	padding: 0 14px 0 14px;
	background-color: #101010;
	color:#fff;
	font-size: 16px;
	z-index: 1000;
}
generate h1, generate .page-header {
	padding-top: 15px;
	margin: 0;
}
generate .page-header {
	margin-bottom: 10px;
	border-width: 5px;
	border-color: #e92429;
}
generate label {
	margin-bottom: 0;
}
generate .form-control {
	margin-bottom: 10px;
}
.generate-body {
	padding: 15px;
}



.btn-gen {
	float:right;
	background-color: #e92429;
	margin-top: -29px;
	color: #333 !important;
	font-weight: bold;
	outline: none;
}
.btn-gen:focus {
	outline: none;
}

input[type="text"]:focus, input[type="password"]:focus,
input[type="datetime"]:focus, input[type="datetime-local"]:focus,
input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus,
input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus,
input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus,
input[type="color"]:focus, .uneditable-input:focus {   
	border-color: #980f13 !important;
	box-shadow: 0 1px 4px #350a0a inset !important;
	outline: 0 none !important;
}

.grad {
	background: #101010; /* Old browsers */
	background: -moz-linear-gradient(left,  #101010 2%, #3d3d3d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(2%,#101010), color-stop(100%,#3d3d3d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #101010 2%,#3d3d3d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #101010 2%,#3d3d3d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #101010 2%,#3d3d3d 100%); /* IE10+ */
	background: linear-gradient(to right,  #101010 2%,#3d3d3d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#101010', endColorstr='#3d3d3d',GradientType=1 ); /* IE6-9 */
}

textarea:focus {
	border-color: transparent !important;
	box-shadow: none !important;
	outline: none !important;
}
debug {
	z-index: 999;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 80px;
	color:#000;
	background-color: #86d170;
}

.btn-default {
	background-color: transparent !important;
	border-width:  0; 
	color: #fff !important;
}

.btn-default:hover {
	color: #e92429 !important;
}
.btn-default:focus {
	outline: none;
	color: #e92429 !important;
}


/* Carousel base class */
.carousel {
	position: absolute;
	top:56px;
	bottom: 0;
	width: 100%;
	background: #333;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
   vertical-align: top;
  text-align: right;
  top:0;
}
.carousel-control, .left, .right {
	background-image: none !important;
}
.carousel-caption h1 {
	font-size: 60px;
	font-weight: bold;
}
.carousel-caption p {
	font-size: 26px;
}

/* Declare heights because of positioning of img element */
.item {
  background-color: #333;
  background-size: cover !important;
 	height:  100%  !important;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  min-width: 100%;
}
html,body {
	height:100%;
}
.carousel,.item, .active {
	height: calc( 100% - 56px);
}
.carousel-inner {
	height:100%;
}

@media screen(max-width: 758px) {


}