extends layout
block content
  .jumbotron(style='text-align:center;').nostyle
      .container
        h1 @CodeMassively
          p "All these posts are here."
          p
            ul.breadcrumb().small-font
              li
                a(href='/') Website
              li.active Blog