doctype html
html(lang="en")
  head
    script(type='text/javascript' src="jquery.js")
    //script(type='text/javascript' src="fast0cean.js")
    script(type='text/javascript' src="bootstrap.min.js")
    link(rel='stylesheet', href='bootstrap.css')
    link(rel='stylesheet', href='simplex.css')
    link(rel='stylesheet', href='alteration.css')
  body
    .navbar.navbar-default
      .container
        .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-responsive-collapse')
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='#') 
              strong @codemassively
          .navbar-collapse.collapse.navbar-responsive-collapse
            ul.nav.navbar-nav
              li.active
                a(href='#') blog
              li
                a(href='#') about
            ul.nav.navbar-nav.navbar-right    
              li
                a(href='#') account
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  | For my ref
                  b.caret
                ul.dropdown-menu
                  li
                    a(href='http://bootswatch.com/simplex/') http://bootswatch.com/simplex/
                  li.divider
                  li.dropdown-header im bad at CSS
                  li 
                    a(href='#') But great at code




    // nav end
    .jumbotron(style='text-align:center;').nostyle
      .container
        h1 @CodeMassively
          p
            strong It's programming
            small , tutorials, research, and results.
          p
            ul.breadcrumb().small-font
              li
                a(href='#') Website
              li
                a(href='#') Home
              li.active Me

    .container

      .col-sm-6
        .label-out
          span.label.label-info Twitter
          span.label.label-default @matutter
        a.twitter-timeline(data-dnt='true', href='https://twitter.com/matutter', data-widget-id='481623389430239232') Tweets by @matutter
          script
            | !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");


      .col-sm-6
        .row
          .panel.panel-default.nostyle
            .panel-body.nostyle
              .col-sm-4.nostyle
                .new-box
                  .new-inner
                    .new-title title
                    .new-desc 
                      .spinner
                      p.center loading
              .col-sm-4.nostyle
                .new-box
                  .new-inner
                    .new-title title
                    .new-desc
                      .spinner 
                      p.center loading
              .col-sm-4.nostyle
                .new-box
                  .new-inner
                    .new-title title
                    .new-desc
                      .spinner
                      p.center loading
        .row
          .panel.fillin.nostyle !{gitActivity}

        .row
          .panel.panel-default
              .panel-heading Work and Tutoring 
                strong Fall 2014
                .panel-body
                  | TBA


  footer
    .container
      .col-lg-12
        ul.list-unstyled
          li Made by 
            a(href="http://www.github.com/matutter") Mat Utter
            | . Contact me at 
            a(href='mailto:admin@codemassively.com') mat@codemassively.com.
          li I maintain this code right 
            a(href="https://github.com/matutter/Massively") here on Github
            | .
          li Built on 
            a(href='http://nodejs.org/') NodeJS 
            | for 
            a(href='https://github.com/matutter/Masset2') Masset
            | .
          li Style based on 
            a(href='http://bootswatch.com/simplex/') Simplex. 
