extends layout
block content
  #intro
    //.tri-TL
    .tri-TR
    .jumbotron.intro.nomarg(style="min-width:436px;")
      .container
        .col-sm-12.head
          img.brand(src="matutterlogotrim.png")
          li
            a(href="#myself") MYSELF
          li
            a#work MY WORK
          li
            a#hire HIRE
        .col-sm-12

          .media
            a.pull-left(href='#')
                img.img-circle(src="mat.png" width="220" height="220")
              .media-body
                h1.media-heading It's really awesome, 
                h1.media-heading Developing software and systems 
                h1.media-heading that's just what i do.
                p Hey, I'm Mat, a Software Engineer with a large variety of skill & <br> experience.

  section.whiteAll#myself
    .container
      .col-sm-12.mast
        h1 Software is a great combination between artistry and engineering. 
          small -Bill Gates
        img(src='arrowmd.png', width="2%", height="2%" )
        h3.mast-bot Research and dedication make for <br>a superior in-house Developer.

        .col-sm-4
          h4 Build from the ground up.
          img.nostyle(src="asm.png")
          h1.nostyle EMBEDDED
          h5.R I've worked from early on with embedded devices. In-house operating systems and Pi projects can yield the perfect platform. 

        .col-sm-4
          h4 Target any platform.
          img.nostyle(src="apps.png")
          h1.nostyle Application
          h5.R Moving proprietary software to multiple platforms and target development is my specialty. 
        .col-sm-4
          h4 Bring it online.
          img.nostyle(src="nodejs.png" width="200" )
          h1.nostyle FrontEnd
          h5.R Completed means connected. The frontend experience is a necessity in every product. 

  section#work
    .tri-TL
    .container

  section.blackAll#work
    .tri-TL
    .container
      .col-sm-12.mast(style="padding-top:160px;")
        h1 Hey! I'm under construction. Yeaa.... sorry...


h1 Mat utter
h2 Developer & Engineer 
h4 CodeMassively  &copy;