doctype html
html(lang="en")
head
	title EveryCode
	link(rel='stylesheet', href='bootstrap.css')
	link(rel='stylesheet', href='universal.css')
	script(type='text/javascript' src='jquery.js')
	script(type='text/javascript' src='bootstrap.min.js')
	script(type='text/javascript' src='universal.js')

body
	nav.nav
		li 
			a main
		li 
			a about

	.col-lg-12.review.nostyle
		.col-sm-4.indicate.nostyle.rd open-sessions
		.col-sm-8.sessions.nostyle.rd
			.session
			|	empty 

	.col-lg-12
		.container
			block content