doctype html
html(lang="en")
  head
    link(rel='stylesheet', href='bootstrap.css')
    link(rel='stylesheet', href='massive.css') 
    block content



    script(type='text/javascript' src="socket.io.js")
    script(type='text/javascript' src="jquery.js")
    script(type='text/javascript' src="masset.js")