mixin navbar-nav(active, navs)
  - for( var tab in navs ) {
    li
      -if( tab == active )
        a.active(href= tab ) #{ navs[ tab ] }
      -else
        a(href= tab ) #{ navs[ tab ] }
  - }


doctype html
html(lang="en")
  head
    link(rel='stylesheet', href='bootstrap.css')
    link(rel='stylesheet', href='massive.css')

    .navbar.navbar-fixed-top(role='navigation')
      .container
        .navbar-header
          a.navbar-brand
            img.img-responive(src="cmtiny.png" width="50px")
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        .collapse.navbar-collapse
          ul.nav.navbar-nav
            +navbar-nav( page, nav.left )

          ul.nav.navbar-nav.navbar-right
            +navbar-nav( page, nav.right )
            
    block content

      footer.sticky-footer
        .container
          .col-sm-6
            p Home
            p About
            p Contact
            
            a(href="https://www.github.com/matutter/massively") GitHub

          .col-sm-6
            //a.pull-right(href="https://www.positivessl.com" style="font-family: arial; font-size: 10px; color: #212121; text-decoration: none;")
              //img(src="https://www.positivessl.com/images-new/PositiveSSL_tl_trans.png" alt="Positive SSL on a transparent background" title="Positive SSL on a transparent background" border="0")



    script(type='text/javascript' src="socket.io.js")
    script(type='text/javascript' src="jquery.js")
    script(type='text/javascript' src="massive.js")
    script(type='text/javascript' src="bootstrap.min.js")
    - if( page == 'account' )
      script(type='text/javascript' src="account.js")