extends layout

block content
  section.container.admin
  - if(!user)
      .admin-login-box
        h2 Login
        label Account
        input#acct.form-control.admin-form(type="text")
        label Password
        input#pass.form-control.admin-form(type="password")
        button.btn.btn-default.btn-login Login
  - else
    .admin-panel
      .panel-left.grad
        //a.btn.btn-admin.nest1.btn-active(id="template-new") Form Template
        a.btn.btn-admin.nest1 Content
          - each tpage in nav.left
            a.btn.btn-admin.nest2( ) #{tpage}


          #dropper.dropper.uri-img Create data URI
          textarea.form-control.uri
            


      .panel-right
        block form