/************************
		MAIN CONTENT
************************/
.content, .content p {
	
}
#main {
	background:#5fcfb8;
	padding-top: 20px;
}
#main .panel-heading {
	color: #34ad95;
	text-transform: uppercase;
	font-weight: 900;
	overflow: hidden;
}
 .panel {
	color:#8d9aa5 !important;
	background: transparent;
	min-width: 320px;
}
#main .list-group-item, #main .badge {
	background: transparent;
	border-color: #227262;
	color: #227262;
}
#main .badge {
	border: 1px solid;
}
#main {
	font-size: 2.4em !important;
}
.link-box {
	text-align: right;
	padding: 15px;
}
.link-box a {
	color: #227262;
	font-size: 3.6em;
	display: block;
}
.link-box a:hover {
	color: #34ad95;
	text-shadow:1px 1px 1px rgba(0,0,0,0.5);
	text-decoration: none;
}