li {
	list-style: none;
}

.sm-tb-marg {
	margin: 10px 10px 10px 0 ; 
}
.label-out {
	position: absolute;
	top:-22px;
}
.label-out > span:first-child {
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}
.label-out > span:last-child {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}
footer {
	margin: 5.0em;
}

.small-font {
	font-size: 14px !important;
	font-weight: normal;
}

.nostyle {
	border-radius: 0;
	border: 0;
	padding: 0;
	box-shadow: none;
	background: transparent;
}
.nobot {
	margin-bottom: 0;
	padding-bottom: 0;
}
.notop {
	margin-top: 0;
	padding-top: 0;
}
.center {
	text-align: center;
}
.fillin .box-header {
	min-height: 36px;
	border:1px solid #d5d5d5;
	border-width: 1px 1px 0 1px;
	border-radius: 3px 3px 0 0;
}
.box-group {
	position: relative;
}
.new-box {
	padding: 2px !important;
	display: block;
	position: relative;
	font-size: 23px;
	font-weight: bold;
	color: #fff;
}
.new-box .new-inner {
	border-radius: 3px;
	background-color: #d9230f;
	width: 100%;
	height: 176px;
}

.new-title {
	border-radius: 3px 3px 0 0;
	height: 42px;
	padding: 5px;
	background-color: #91170a;
	border: solid #a91b0c;
	border-width: 0 0 1px 0;
}
.new-desc {
	padding: 5px;
	font-weight: normal;
	font-size: 16px;
}

.fillin h3.box-title {
	color: #292f33;
	line-height: 1.429;
	margin: 8px 10px;
	margin-bottom: 0px;
	padding-bottom: 8px;
	font-size: 18px;
	font-weight: bold;
}
.fillin .box-title {
	margin-bottom: 0;
}

.fillin .box-body {
	background: #fff;
	border: solid #d5d5d5;
	border-width: 0 1px 1px;
	border-radius: 0 0 3px 3px;
}

.fillin .repo-list {}
.fillin ul {
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
}
.fillin li.public-source {
	height: 50px;
	background: #a1a1a1;
}

.fillin .repo-list-item.css-truncate {
	padding: 6px 30px;
	display: block;
	font-size: 14px;
	height: 48px;
	text-decoration: none;
	border: 1px solid #cecece;
	border-width: 1px 0 0 0;
}

.fillin .repo-icon.octicon.octicon-repo {
	width: 12px;
	height: 16px;
}

.fillin .repo {
	display: inline;
	font-weight: bold;
}

.fillin .stars {
	color: rgb(136,136,136);
	text-align: left;
	float: right;
	width: 24px;
	height: 17px;
}

.fillin li:hover .repo-and-owner {
	text-decoration: underline;
}

.fillin .repo-description.css-truncate-target {
	color: rgb(136,136,136);
	font-size: 12px;
	display: block;
	margin-left: 19px;
	height: 16px;
	overflow: hidden;
}

.spinner {
  width: 40px;
  height: 40px;
  background-color: rgba(0,0,0,0.24);
  border-radius: 4px;
  margin: 20px auto;
  -webkit-animation: rotateplane 1.67822s infinite ease-in-out;
  animation: rotateplane 1.67822s infinite ease-in-out;
}

@-webkit-keyframes rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}