/*************************
        INTRO
*************************/
.intro, #intro {
	font-family: Roboto-BI;
	text-align: 	left;
	position: 		relative;
	z-index:		303;
	height: 		auto;
	width: 			100%;
	right: 			0;
	left:			0;
	top:			0;

	border:         solid #fff;
	border-width:   0 0 4px 0;
	color: 			#fff;
	overflow: hidden;
	background: transparent;
}

.intro .jumbotron {
	background: transparent;
}

body {
	background: url(bg.png) no-repeat fixed;
	background-size: 120%;
}

#intro h1 {
	font-size:  38.5px;
	line-height: 40px;	
	font-weight: 900;
	text-transform: uppercase;
}
#intro h2, #intro h3, #intro h4 {
	margin: 0;
}
.intro {
	padding-top: 200px;
	padding-bottom: 180px;
}
.intro li {
	display: inline-block;
	padding: 0 25px 0 25px;
	color: #fff;
	font-size: 1.6em;
}
.intro li a {
	color: inherit;
}
.intro li a:hover {
	color: rgba(255,255,255,0.821);
}
.intro .media a {
	margin-right: 4.3em; 
}
.intro .media-body p {
	font-family: Roboto-T;
}
.brand {
	margin-top: -150px;
	/*border: 1px solid red;*/
	padding-right: 50px;
}
.intro .head {
	margin-bottom: 10em;
}
.tri-TL {
	position: absolute;
	z-index: 1001;
	width: 1px;
	height: 1px;
	border-style: solid;
	border-width: 200px 200px 0 0;
	border-color: #fff transparent transparent transparent;
}
.tri-TR {
	position: absolute;
	z-index: 1002;
	bottom: 0;
	right: 0;
	width: 1px;
	height: 1px;
	border-style: solid;
	border-width: 0 0 200px 200px;
	border-color: transparent transparent #fff transparent;
}


.whiteAll {
	background: #fff;
	text-align: center;
	padding-bottom: 180px;
	color:#8d9aa5;
}
.blackAll {
	color:#fff;
	background: #191818;
	text-align: center;
	padding-bottom: 180px;
}
#myself .mast h1 {
	font-size: 38.5px;
	padding: 3.8em 0 0 0;
	font-family: Roboto-BI;
	text-align: center;
	margin-bottom: 0;
	text-transform: uppercase;
}
#myself .mast {
	font-size: 21px;
}

.mast img {
	margin: 1.35em 0;
}

.mast-bot {
	margin-bottom: 1.35em;
}

