.toolbox {
	padding-top: 15px;
}
.tool {
	background: #5fcf80;
	color: #343434;
	height: 250px;
	width: 250px;
	cursor: pointer;
	border-radius: 4px;
	position: relative;
	display: inline-block;
	margin: 5px;
}
.tool-title {
	font-size: 2.0em;
	font-weight: 900;
	text-align: center;
}
.tool:hover {
	-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}
.tool-target {
	margin-top: 10px;
}
.tool-info {
	background: #2d3339;
	color: #fff;
	padding: 5px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
.tool-info h1 {
	margin: 0;
}
.tool-info blockquote {
	border: 1px solid #222;
	background: #222;
	border-radius: 3px;
	font-size: 12px;
	margin-bottom: 2px;
}
.tool-info .label-group {
	margin-top: 5px;
	margin-bottom: 5px;
}
.tool-control {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin-top: 10px;
	text-align: left;
	font-size: 18px;
	color: #b2bac2;
	font-weight: 900;
}
.tool-control a {
	color: inherit;
	font-weight: inherit;
	font-size: inherit;
	font-family: inherit;
}
.tool img {
	margin: 25px;
}


/*****************************************
			tools styles
*****************************************/

#LIVEMARKDOWN-target {
	display: block;
	overflow: hidden;
	height: 614px;
	border: 1px dotted #ddd;
	border-radius: 3px;
	font-size: 2.0em !important;
}

#LIVEMARKDOWN-target blockquote {
	border:0;
	background:#eee;
	border-radius: 3px;
	color: #333;
}
#LIVEMARKDOWN-target blockquote p {
	font-size: 0.8em !important;
}
}