.panel#LiveMark
  script(type='text/javascript' src="showdown.js")
  script(type='text/javascript' src="livemark.js")

  .panel-header.tool-info
    .container.nostyle.full
      .col-sm-6
        h1 LiveMark 
      .col-sm-6
        .label-group
          span.label.label-dark Dependencies 
          span.label(style="background:#fff;") 
            a(href="https://github.com/coreyti/showdown") Showndown
      .col-sm-12
        blockquote This is a tool I want to make to build a fully featured parser as an expieriment with parser design. Because I need to write my blog posts somehow, I'll be using this tool here written by Corey Innis (link in dependencies). LiveMark is a tool for writing markup that renders your markup as it's applied. It allows your cursor to effect the markup by adding text-styles like a regular text editor.
  .panel-body
    .col-sm-12
      a.btn#HTML HTML
      a.btn#Preview Preview
    .col-sm-6.nostyle
      textarea.form-control#LIVEMARKDOWN-source(rows="30" ) __hello world__ ```whats up```
    .col-sm-6.nostyle
      .col-sm-12#LIVEMARKDOWN-target