.container
  .panel#Pixel2
    .panel-header.tool-info
      .container.nostyle.full
        .col-sm-6
          h1 Pixel2 
        .col-sm-6
          .label-group
            span.label.label-dark Dependencies 
            span.label(style="background:#fff;") 
              a(href="") jQuery
        .col-sm-12
          blockquote Pixel2 is a palette extraction tool. Drag an image into the left box to get started.
    .panel-body
      .col-sm-12(style="margin-bottom:0px;")
        .navbar.navbar-default
          ul.nav.navbar-nav
            li
              a.btn#getPalette Image to Palette
            li
              a.btn#getImage Pallete to Image
            li
              a.btn#clearAll Clear
          ul.nav.navbar-nav.navbar-right(style="padding-right:15px;")
            li(style="padding:18px;")
              .badge#hexTarget #000000
            li(style="padding:18px;")
              .badge#rgbTarget rgb(255,255,255)

      .col-sm-6.nostyle
        .panel.nostyle#pixel-drop-wrapper(style="border:9px dashed #34ad95; border-radius:7px; overflow:hidden; height:200px;" width="100%")
          canvas.center-block.img-responsive#pixel-drop(style="margin: 0 auto;" )
      .col-sm-6.nostyle
        .col-sm-12.nostyle
          .panel(style="border:9px dashed #dfdfdf; border-radius:7px; overflow:hidden; height:200px;" width="100%")
            #paletteTarget


    script(type='text/javascript' src="jquery.js")
    script(type='text/javascript' src="pixel2.js")